@charset "UTF-8";
body {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #888;
}
a {
  text-decoration: none;
  color: #888;
}

li {
  list-style: none;
}
/*header*/
header {
  width: 100%;
  display: inline-block;
}
header .logo {
  position: absolute;
  padding: 10px 0 0 20px; 
}

header .logo img {
  width: 175px;
  height: auto;
  z-index: 2;
}
header .navbar ul {
  display: flex;
  float: right;
  position: fixed;
  margin: 10px 80px 20px 35%;
z-index: 4;
background-color: rgba(128, 128, 128, 0.213);
}

header .navbar ul li {
  margin: 30px 20px 20px;
}

header .navbar ul li a {
  color: #555;
  font-weight: bold;
  font-size: 15px;
}

header .navbar ul li a:hover {
  color: #75a9ff;
  border-bottom: double 2px #ff82b2;
}
header .navbar ul li.contact a {
  background-color: #75a9ff;
  border-radius: 30px;
  color: #fff;
  padding: 15px 25px;
  border-bottom: none;
}

header .navbar ul li.contact a:hover {
  opacity: 0.5;
}
header .drawer {
  visibility: hidden;
}
/*top*/
.top {
  text-align: center;
  margin: 150px 0 50px 0;
}
.top .inner {
  display: inline-block;
  position: relative;
  z-index: 2;
  background: url("../img/app_img.png") center;
  background-size: cover;
  background-position: 50% 10% 50%;
  background-size: cover;
  width: 100%;
  height: 500%;
}

.font1 {
  text-align: center;
  padding: 16%;
}
.font1 p {
  color: #555;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}
.font1 small {
  color: #666;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
.top .download {
  display: inline-flex; 
  margin: 5% 10%;
}
.top .download .apple {
  margin-right: 2%;
}
.top .download .google {
  margin-left: 2%;
}
.top .download .apple img {
  width: 100%;
  height: auto;
}
.top .download .google img {
  width: 100%;
  height: auto;
}
.top .top_img {
  display: inline-block;
  position: relative;
}
.top .top_img img {
  width: 350px;
  height: auto;
}
/*feature*/
.feature {
  width: 80%;
  margin: 0 auto;
}
.feature .inner {
  padding: 0 32px;
  margin-bottom: 100px;
}
.feature .inner p {
  font-size: 16px;
  line-height: 1.7;
}
.font2 {
  color: #75a9ff;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 10px;
}
.font2::after {
  content: "";
  background: #75a9ff;
  height: 2px;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
/*intro*/
.section {
  position: relative;
  padding: 150px 0;
}

.section::after {
  content: "";
  display: block;
  width: 100%;
  height: 600px;
  background: linear-gradient(#75a9ff, #f5f6f7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.intro {
  background: #f5f6f7;
}
.intro .inner {
  position: relative;
  z-index: 2;
}
.font3 {
  font-size: 45px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
  line-height: 1.5;
}

.font3 small {
  display: block;
  font-size: 11px;
}
.app {
  background: linear-gradient(#fff, #f5f6f7);
  border-radius: 30px;
  padding: 100px 20px;
  width: 85%;
  margin: 0 auto;
}

.app_wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.app .app_item {
  margin: 75px 50px 0 0;
}
.font4 {
  font-size: 25px;
  line-height: 1.3;
  padding: 30px 0;
}

.font5 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.font5 strong {
  color: #75a9ff;
}
.app .descript {
  font-size: 14px;
  line-height: 2;
}
.app .app_img {
  display: inline-block;
}

.app .app_img img {
  width: 300px;
  height: auto;
}
/*how*/
.how {
  background: #f5f6f7;
}
.how .inner {
  position: relative;
  text-align: center;
  z-index: 2;
}
.how_to {
  background: linear-gradient(#fff, #f5f6f7);
  width: 40%;
  display: inline-block;
  border-radius: 30px;
  padding-bottom: 100px;
  line-height: 2;
}
.how_list li {
  border: 2px solid #ddd;
  font-size: 16px;
  margin: 0 auto;
  padding: 2px;
  width: 60%;
  border-radius: 10px;
}
/*faq*/
.faq {
  background: #f5f6f7;
}
.faq .inner {
  position: relative;
  z-index: 2;
}
.faq .txt {
  background: linear-gradient(#fff, #f5f6f7);
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 60px;
}

.faq .txt ul li,
p {
  font-size: 16px;
  line-height: 2.5;
}

.faq .txt ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #555;
  border-radius: 50%;
  margin-right: 6px;
}

.faq .txt ul p strong {
  color: #75a9ff;
}
.faq .more {
  text-align: center;
  background: #888;
  width: 17%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}
.faq .more a {
  color: #fff;
  font-weight: bold;
}
/*news*/
.news {
  background: #f5f6f7;
  padding: 100px 0;
}
.news .inner {
  position: relative;
  z-index: 2;
}
.news .font3 {
  color: #555;
}
.news .txt {
  background: linear-gradient(#fff, #f5f6f7);
  border-radius: 30px;
  padding: 60px;
  width: 80%;
  margin: 0 auto;
}
.news .txt ul li {
  font-size: 16px;
  line-height: 2;
}
.news .txt ul li strong {
  color: #75a9ff
}
/*contact*/
.contact_btn {
  background: #f5f6f7;
  padding-bottom: 100px;
}

.contact_btn .btn {
  text-align: center;
  background: #ff82b2;
  width: 17%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
}

.contact_btn .btn a {
  color: #fff;
  font-weight: bold;
}
/*footer*/
footer {
  background: #555;
  padding: 50px 50px 20px;
}
.footer_logo1 img {
  width: 200px;
}
.footer_logo2 img {
  width: 50px;
}
.pages {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.pages .grid {
  width: 20%;
  margin: 0 auto;
}

.pages .last {
  border-left: 2px solid #fff;
  padding-left: 10px;
}
.mail {
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  color: #fff;
}

.copyright {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  color: #fff;
}
/*pc~タブレット*/
@media screen and (max-width: 1024px) {}
/*タブレット~スマホ*/
@media screen and (max-width: 768px) {
  header a.logo {
  top: 0;
  padding: 10px;
}
.top .inner {
  margin-right: 0;
  bottom: 0;
}
.app {
  padding: 50px 50px 100px;
  width: 80%;
}

.app_wrap {
  display: unset;
}

.app .app_item {
  margin: 0;
}
.app .app_img {
  display: block;
  width: 60%;
  margin: 100px auto 0;
}

.app .app_img img {
  width: 100%;
  height: auto;
}
/*ハンバーガーメニュー*/
header .drawer {
  visibility: visible;
  width: 24px;
  right: 15px;
  margin: 18px;
  position: absolute;
  border-top: solid 4px #aaaaaa;
  cursor: pointer;
  z-index: 100;
}

header .drawer::before,
header .drawer::after {
  content: "";
  display: block;
  width: 24px;
  background: #aaaaaa;
  height: 4px;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .drawer::before {
  top: 6px;
}
header .drawer::after {
  top: 15px;
}
header .navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
}

header .navbar ul {
  display: block;
  text-align: center;
  float: none;
  top: 20%;
}

header .navbar ul li a {
  font: 18px;
  line-height: 2;
}
/*nav-open*/
body.nav-open header .drawer {
  border-top: 0;
}

body.nav-open header .drawer::before {
  top: 9px;
  transform: rotate(-45deg);
}

body.nav-open header .drawer::after {
  top: 9px;
  transform: rotate(45deg);
}
}
/*sur face Duo*/
@media screen and (max-width: 540px) {
header .logo img {
  width: 100px;
}}