@charset "UTF-8";

body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}
/*header*/
.header_all {
  width: 100%;
  display: inline-block;
  background-color: #0080885E ;
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 5% 100%);
  z-index: -2;
}
header .logo {
  position: absolute;
}
header .journeyのコピー.img {
  width: 100px;
  height: auto;
}
header .logo img {
  width: 95px; 
  height: auto;
}

header .navbar ul {
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

header .navbar ul li {
  margin: 10px; 
  padding-right: 200px; 
}

header .navbar ul li:nth-child(1) {
  border-right: none; 
}

header .navbar ul li:last-child {
  border-right: none; 
}

header .navbar ul li a {
  color: rgb(16, 14, 14);
  font-weight: 700; 
  font-size: 25px;
}

header .navbar ul li a:hover {
  color: #75a9ff;
}

header .respons {
  visibility: hidden; 
  width: 0; 
  height: 0; 
}

header .drawer {
  visibility: hidden;
}
/*footer*/
.footer_all {
  width: 100%;
  margin-top: 9px;
  display: inline-block;
  background-color: #0080885e;
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 5% 100%);
  z-index: -2;

}
footer .logo {
  position: absolute;
}
footer .journeyのコピー.img {
  width: 100px;
  height: auto;
}
footer .logo img {
  width: 95px;
  height: auto;
  margin-top: 9px;
}

footer .navbar ul {
  display: flex;
  float: right;
  position: relative;
  margin: 15px 0;
}

footer .navbar ul li {
  margin: 10px;
  padding-right: 200px;
}

footer .navbar ul li:nth-child(1) {
  border-right: none;
}

footer .navbar ul li:last-child {
  border-right: none;
}

footer .navbar ul li a {
  color: rgb(16, 14, 14);
  font-weight: 700;
  font-size: 25px;
}

footer .navbar ul li a:hover {
  color: #75a9ff;
}

footer .respons {
  visibility: hidden;
  width: 0;
  height: 0;
}

@media screen and (max-width: 1024px) {
  header .navbar ul li {
    padding-right: 136px;
    margin-left: -113px;
}
}
