.top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 785px;
  background: url(../img/denise.jpg)
    center/cover;
  clip-path: polygon(100% 3%, 0% 100%, 100% 100%);
  z-index: -1;
}

.top {
  width: 100%;
  height: 500px;
}

.top img {
  width: 38%;
  margin: 72px -100px;
}
.contact_ttl strong {
  display: flex;
  margin: -29% 400px;
  font-size: 344%;
  color: darkslategrey;;
}
/*contact*/
.contact_item {
  display: flex;
  position: absolute;
  width: 50%;
}

.section_ttl {
  font-size: 50px;
   
}
.contact_txt {
  line-height: 1.8;
  font-size: 18px;
  z-index: 5;

}
.contact_img {

  background: url(../img/contact.png) no-repeat center;
  background-size: cover;
  height: 450px;
  left: 32.5%;
  z-index: -1;
  margin-bottom: 120px;
  overflow: hidden;
 background: url(../img/rogo.png); 
 background-size: 80px;
 background-repeat: repeat-x;
 background-position: bottom;
}

.contact_form {
  width: 90%;
  margin: 0 auto;
}
.contact_box {
  display: flex;
  margin-bottom: 80px;
 
}
.contact_form_box1 {
  height: 51px;
  width: 69%;
  padding-left: 6px;
  font-size: 15px;
}

.contact_form_box2 {
  height: 45px;
  width: 67%;
  padding-left: 6px;
  font-size: 15px;
}
.contact_box._area {
  margin-bottom: 0;
}
.contact_form_ttl {
  width: 46%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
}

.contact_form_ttl::after {
  content: "必須";
  position: absolute;
  right: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 96px;
  line-height: 32px;
  font-size: 15px;
  color: #c72930;
  border: 1px solid #c72930;
  border-radius: 2px;
}
.contact_form_ttl {
  width: 46%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
}

.contact_form_ttl::after {
  content: "必須";
  position: absolute;
  right: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 96px;
  line-height: 32px;
  font-size: 15px;
  color: #c72930;
  border: 1px solid #c72930;
  border-radius: 2px;
}
.contact_txtarea {
  width: 67%;
  height: 300px;
  margin-bottom: 100px;
  font-size: 15px;
  padding: 7px;
}
.contact_btn {
  width: 200px;
  height: 50px;
  margin: 0 auto 150px;
  font-size: 18px;
  display: block;
  color: #fff;
  background: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  
}

.contact_btn:hover {
  color: #000;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 1024px) {
.contact_ttl strong {
 font-size: 36px;
}
}
@media screen and (max-width: 768px) {
  .top::before {
    height: 75%;
}

.contact_ttl strong {
    display: contents;
}
.contact_form_ttl::after {
    right: 30px;
}
}

@media screen and (max-width: 480px) {
  .top img {
    width: 38%;
    margin: 144px -28px;
  }
.contact_ttl strong {
    margin: -192px 36px;
    display: block;
    font-size: 36px;
}
.top::before {
    height: 627px;
    font-size: 34px;
}
.contact_form_ttl::after {
    right: 4px;
    width: 32px;
} 
}

@media screen and (max-width: 375px) {
  .contact_form_ttl {
    font-size: 10px;
}
.contact_txtarea {
    font-size: 13px;
}
.contact_ttl strong {
    font-size: 33px;
}
.contact_form_ttl::after {
    right: 11px;
    width: 32px;
}

}