/*top*/
.top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 785px;
  background: url(../img/logo1.jpg)
    center/cover;
  clip-path: polygon(100% 3%, 0% 100%, 100% 100%);
  z-index: -1;
}

.top {
  width: 100%;
  height: 500px;
}

.top img {
  width: 38%;
  margin: 72px -100px;
}
.service_ttl strong {
  display: flex;
  margin: -29% 390px;
  font-size: 80px;
  color: darkslategrey;;
}
/*news*/
.news {
  margin-top: 30%;
}
.news .section_ttl {
  font-size: 82px;
  color: darkgreen;
  text-align: center;
}
.section_ttl {
    font-size: 50px;
    background: url(../img/rogo.png);
    background-repeat: repeat-x;
    background-size: 80px;
}   
.news .intro_txt {
  font-size: 20px;
}
.news .inner {
  display: inline-table;
  width: 100%;
  height: 50%;
  background-color: beige;
}
.intro {
  text-align: center;
  background: url(../img/rogo.png);
  background-repeat: repeat-x;
  background-size: 80px;
  padding-top: 57px;
}
.text {
  font-size: 40px;
  
}